.dashboard-sidebar {
  height: inherit;
  width: 340px;
  min-width: 160px;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #324054;
  overflow-x: hidden;
  padding: 20px;
}

.dashboard {
  display: flex;
  height: 100vh;
}

.deck-index {
  width: 100%;
}

.deck-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 30px;
}

.first-row {
  padding: 36px;
  height: 130px;
  min-height: 130px;
  display: flex;

  //justify-content: flex-start;
  //flex-direction: column;
}

.available-decks {
  color: #28a5dc;
  font-size: 36px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.user {
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.options-menu {
  background-color: #f4f6f6;
  font-size: 14px;
  color: #222;
  top: -10px;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  min-width: 160px;
  padding: 3px 11px;
  position: absolute;
  top: 37px;
  left: 136px;
  z-index: 3;
  text-decoration: none;
}

.options-menu li {
    margin-left: 0px;
    display: flex;
    align-items: center;
    //padding: 2px;
}

.options-menu li:hover {
  color: #fff;
  background-color: #5aa6d6;
  cursor: pointer;
}

.options-menu p {
  margin-left: 10px;
}

#menu-triangle {
  color: #f4f6f6;
  position: relative;
  top: -18;
  z-index: 13;
}

.user-avatar {
  font-size: 36px;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.avatar-image{
  height: 36px;
  color: #0b5585;
}

.options-gear {
  position: absolute;
  top: 0px;
  right: 5px;
  color: rgb(255, 255, 255);
  z-index: 13;
}

.options-gear:hover {
  color: rgb(40, 165, 220);
}

.user-name h3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 0px;
  color: hsla(0,0%,100%,.9);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.user-stats {
  text-align: center;
  color: hsla(0,0%,100%,.9);
  font-size: 10px;
  font-weight: 300;
  text-decoration: none;
}

li svg {
  //padding-left: 3px;
}

.action-buttons div {
  display: flex;
}

.deck-action-buttons {
  display: flex;
  align-items: flex-start;
}

.deck-action-button {
  font-size: 18px;
  color: hsla(220,7%,52%,.66);
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deck-action-button:hover {
  color: #28a5dc;
  background-color: rgba(0,0,0,.1);
  border-radius: 50%;
}

.deck-creator-name a{
  color: #28a5dc;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}

.deck-creator {
  color: rgba(38, 63, 87, 0.8);
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}

.deck-image-icon {
  height: 130px;
  width: 130px;
}

.tabs {
  height: 42px;
  border-bottom: 1px solid rgba(46,64,86,.26);
  display: flex;
  width: 100%;
  font-size: 14px;
  color: #333;
  background-color: rgba(5, 101, 156, 0.08);
  justify-content: space-around;
}

.tab-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  padding-top: 8px;
  border-bottom: 8px solid transparent;
  cursor: pointer;
}

.tab-item.active {
  border-bottom: 8px solid rgba(18,57,108,.36);
}

.tab-item:hover {
  color: #28a5dc;
  border-bottom: 8px solid rgba(18,57,108,.18);
}

.deck-list-container {
  box-sizing: border-box;
}

.deck-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.deck-list li{
  width: 100%;
}

.deck-row-contents {
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 36px 36px 36px;
  border-bottom: 1px solid #ccc;

}

.deck-info {
  display: flex;
}

.deck-info > * {
  display: inline;
}

.deck-name, .deck-caption, .deck-name-caption {
  display: inline;
}

.deck-name-caption {
  margin-left: 25px;
}

.deck-name {
  font-size: 18px;
  font-weight: 600;
  margin: 0 18px 0 0;
  color: #28a5dc;
}

.deck-caption {
  font-size: 12px;
  margin: 4px 0 0;
  color: #999;
}

.deck-mastery {
  color: #00a8d7;
  width: 54px;
  font-size: 22px;
  text-align: center;
}

.action-buttons.deck-action-button {
  justify-content: center;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  color: rgb(124, 130, 142);
  max-width: 125px;
  align-items: center;
}

.deck-name-caption a {
  text-decoration: none;
}

.checkbox-control {
  display: flex;
  color: rgb(0, 168, 215);
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  width: 54px;
}

li.deck-selection-check-box, li.deck-mastery, .check-box, .deck-mastery {
  width: 54px;
}

.deck-options-menu {
  background-color: #f4f6f6;
  font-size: 14px;
  color: #222;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  min-width: 160px;
  padding: 3px 11px;
  position: absolute;
  top: 25px;
  left: -136px;
  z-index: 400;
  text-decoration: none;
}

.deck-options-menu li {
    margin-left: 0px;
    display: flex;
    align-items: center;
}

.deck-options-menu li:hover {
  color: #fff;
  background-color: #5aa6d6;
  cursor: pointer;
}

.deck-options-dropdown {
  position: relative;

}

.options-button {
  display: flex;
}

.drop-down-text {
  margin-left: 10px;
}

.new-deck-progress-bar {
  background-color: #eee;
  height: 10px;
  margin-top: 6px;
  width: 30vw;
}

.edit-deck-row-contents {
  border-bottom: none;
  padding-bottom: 18px;
  padding-top: 18px;
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 24px 72px 24px 42px;
  position: relative;
  width: 100%;
}

.big-plus-button {
  font-style: normal;
  line-height: inherit;
  font-size: 42px;
  color: #ddd;
}
li.big-plus-button{
  width: 54px;
}

li.li-spacer {
  width: 54px;
}

.label-and-bar {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 50px;
  justify-content: space-between;
  text-align: start;
  width: 100%;
  min-width: 420px;
  padding: 4px 0;
  margin-left: 25px;

  .new-deck-label {
    color: #ccc;
    font-size: 18px;
    font-weight: 600;
  }
}

.li-spacer{
  width: 54px;
  min-width: 54px;
}

.create-new-deck-row:hover {
  cursor: pointer;
}

.create-new-deck-row ul {
  border-bottom: none;
}

.create-new-deck-row:hover .deck-row-contents .big-plus-button, .label-and-bar {
  color: #28a5dc;
}
.create-new-deck-row:hover .deck-row-contents .label-and-bar .new-deck-label {
  color: #28a5dc;
}
.create-new-deck-row:hover .deck-row-contents .label-and-bar .new-deck-progress-bar {
  background-color: rgba(0,175,247,.16);
}

.pill-button-add-cards {
  margin-right: 10px;
}