.other-deck-modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

}

.other-deck-modal-child {
    width: 80vw;
    height: 80vh;
    background-color: gainsboro;
    border-radius: 10px;
    display: flex;
    padding: 30px;
    box-sizing: border-box;
}

.other-deck-form-container {
    height: 100%;
    width: 100%;
}

th.other-deck-number-sign {
    padding-left: 15px;
    font-size: 16px;
}

.question-column {
    width: 260px;
}

.other-deck-form-footer {
    justify-content: center;
}

.other-deck-table-td {
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #38a5dc36;
    border-radius: 9px;
    padding-left: 5px;
    font-size: 16px;
}

.table-row-number.other-deck {
    font-size: 16px;
}

.other-deck-top {
    display: flex;
    justify-content: space-between;
}

.close-x.other-deck {
    position: relative;
}

.close-x.other-deck:hover {
    background-color: #b9d0dc;
    border-radius: 22px;
    
    img {
        filter: invert(1);
    }
}

.other-deck-outer {
    width: 100%;
    overflow: scroll;
}
