.tab-switcher {
  border-bottom: 1px solid hsla(0,0%,100%,.4);
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.tab-item-thisRound, .tab-item-overall {
  border-bottom: 3px solid transparent;
  color: hsla(0,0%,100%,.3);
  cursor: pointer;
  flex: 1;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 6px;
}

.tab-item-thisRound:hover{
  color: #28a5dc;
}

.tab-item-overall:hover{
  color: #28a5dc;
}

.tab-item-overall.is-selected, .tab-item-thisRound.is-selected {
  border-bottom: 3px solid hsla(0,0%,100%,.4);
  color: hsla(0,0%,100%,.45);
  font-weight: 600;
}

.study-sidebar-header {
  align-items: flex-start;
  color: #fff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.sidebar-sections {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin: 12px 0 0;
  min-height: 0;
}

.first-row-deck-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first-row-container {
    width: 100%;
}

img#deck-image-small {
    width: 40px;
}

h3.study-mix-name {
  color: hsla(0,0%,100%,.7);
  font-size: 16px;
  font-weight: 400;
  margin: 12px 0 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 208px;
}

.second-row {
  margin-top: 12px;
  width: 100%;

}

.confidence-ratings {
  color: white;
  font-size: 14px;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 5vh 0 2vh;
  box-sizing: border-box;
}

.confidence-ratings-heading{
  color: #ddd;
  font-size: 15px;
  font-weight: 100;
  margin: 0 0 12px;
  text-align: center;
  line-height: 1.1;
}

.confidence-ratings-bars {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 14px;
  justify-content: space-between;
  max-height: 400px;
}

li.confidence-ratings-bar {
  padding-bottom: 4px;
  align-items: center;
  display: flex;
  box-sizing: border-box;
}

.level-label {
  font-size: 12px;
  font-weight: 100;
  text-align: right;
  width: 40px;
  box-sizing: border-box;
  display: block;
}

.base-bar {
    height: 24px;
    margin: 0 12px;
    position: relative;
    width: 200px;
    box-sizing: border-box;
    background-color: hsla(0,0%,100%,.18);
}

.count-bar {
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    box-sizing: border-box;
}

.count-bar.level0 {
  background-color: #1e2633;
}
.count-bar.level1 {
  background-color: #aa0080;
}
.count-bar.level2 {
  background-color: #ff8a47;
}
.count-bar.level3 {
  background-color: #fd0;
}
.count-bar.level4 {
  background-color: #7fae2e;
}
.count-bar.level5 {
  background-color: #00a8d7;
}

.level-count {
    text-align: left;
    width: 40px;
    box-sizing: border-box;
    color: #fff;
}

.value-label.sidebar {
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  font-weight: 100;
  margin-top: 5px;
  text-transform: uppercase;
}

.value-data.sidebar {
  font-size: 37px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.sidebar-mastery-value {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;
  position: absolute;
  top: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 64px;
  width: 80px;
}

.sidebar-mastery-circle {
  height: 186px;
  width: 186px;
  align-items: center;
  border: none;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.branding {
    width: 107px;
}

.back-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo-deck-info {
  height: 100%;
  width: 100%;
  filter: invert(1);
}

.study-mix-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 28px;
}

.options-button-deck-info {
    color: hsla(0,0%,100%,.7);
}